<ion-view title="Bom " id="page12">
    <ion-content padding="true" class="has-header">
        <h4 id="bom-heading9" style="color:#136AF1;font-weight:400;text-align:center;">Podemos melhorar mais um poquinho ...</h4>
        <div class="spacer" style="width: 300px; height: 65px;"></div>
        <div id="bom-markdown4" style="color:#000000;text-align:center;">
            <p>Deixei uma mensgagem no que podemos melhorar para você:</p>
        </div>
        <div class="spacer" style="width: 300px; height: 76px;"></div>
        <form id="bom-form14" class="list">
            <label class="item item-input" id="bom-textarea4">
                <span class="input-label"></span><textarea placeholder="Digite aqui .."></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 59px;"></div>
        <button id="bom-button16" style="border-radius:4px 4px 4px 4px;" class="button button-positive  button-block button-outline">Enviar</button>
    </ion-content>
</ion-view>