<ion-view title="Cadastro" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="cadastro-form2" class="list">
            <h4 id="cadastro-heading1" style="color:#000000;font-weight:400;text-align:center;">Informações Pessoais</h4>
            <label class="item item-input" id="cadastro-input3">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="cadastro-input4">
                <span class="input-label">Celular:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <h4 id="cadastro-heading2" style="color:#000000;font-weight:400;text-align:center;">Informações da Conta</h4>
        <form id="cadastro-form3" class="list">
            <label class="item item-input" id="cadastro-input5">
                <span class="input-label">Login:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="cadastro-input6">
                <span class="input-label">Senha:</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input" id="cadastro-input7">
                <span class="input-label">Confirma Senha:</span>
                <input type="password" placeholder="">
            </label>
            <termi id="cadastro-container1" class="creator-container"></termi>
            <div class="spacer" style="width: 300px; height: 1px;"></div>
            <a ui-sref="login" id="cadastro-button4" style="border-radius:10px 10px 10px 10px;" class="button button-balanced  button-block">Criar Conta</a>
            <a ui-sref="login" id="cadastro-button5" style="border-radius:10px 10px 10px 10px;" class="button button-assertive  button-block">Cancelar</a>
        </form>
    </ion-content>
</ion-view>