<ion-view title="Escolha a Opção" id="page5">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/unjmpOnUSvWUUbe7RPyM_garconcerto.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <a style="display:block;" ui-sref="mostrarCardapio">
                <img src="img/F09d3nl9Tnm8JHBfSUtj_026-512.png" width="48%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div>
            <a style="display:block;" ui-sref="garON2">
                <img src="img/Ufdas8qgS5WsQMyFJrLT_tocar-a-campainha_318-30502.png" width="55%" height="128" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <a ui-sref="avaliaODoCliente" id="escolhaAOpO-button19" style="border-radius:10px 10px 10px 10px;" class="button button-balanced  button-block icon-left ion-android-star">Avalie nosso serviço</a>
    </ion-content>
</ion-view>