<ion-view title="GarçON" id="page7">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 59px;"></div>
        <div>
            <img src="img/TucVJgVDTAWmDaEP9ZzG_garconok.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <img src="img/nGQF2du4Q6qOWvN9ZBad_mensgarcon.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>