<ion-view title="GarçON" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 44px;"></div>
        <div>
            <img src="img/A28pD5FPRUKHrwLm9xBd_garconcerto.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="login" id="garON-button1" style="border-radius:10px 10px 10px 10px;" class="button button-balanced  button-block">Entre em nosso app !</a>
    </ion-content>
</ion-view>