<ion-view title="Login" id="page2">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/sGG4H5A4T8CDb6IJMNZQ_garconcerto.png" width="65%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="login-form1" class="list">
            <label class="item item-input" id="login-input10">
                <span class="input-label">Login:</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <label class="item item-input" id="login-input11">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="">
            </label>
            <a ui-sref="qualSuaMesa" id="login-button2" style="border-radius:10px 10px 10px 10px;" class="button button-balanced  button-block">Entrar</a>
            <a ui-sref="termoDeResponsabilidade" id="login-button3" style="border-radius:10px 10px 10px 10px;" class="button button-dark  button-block">Crie já sua Conta !</a>
            <div id="login-button-bar1" class="button-bar">
                <button id="login-button9" class="button button-light  button-block"></button>
                <button id="login-button22" style="border-radius:10px 10px 10px 10px;" class="button button-positive  button-block icon ion-social-facebook"></button>
                <button id="login-button24" class="button button-light  button-block"></button>
                <button id="login-button18" style="border-radius:10px 10px 10px 10px;" class="button button-assertive  button-block icon ion-social-googleplus"></button>
                <button id="login-button23" class="button button-light  button-block"></button>
            </div>
        </form>
    </ion-content>
</ion-view>