<ion-view title="Qual é sua Mesa ?" id="page4">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/qK7mSiPSQCWj9pXLUXJg_garconcerto.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 51px;"></div>
        <h4 id="qualSuaMesa-heading10" style="color:#000000;font-weight:300;">Estabelecimento:</h4>
        <form id="qualSuaMesa-form4" class="list">
            <label class="item item-input" name="estabelecimentos">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Estabelecimentos Cadastrados">
            </label>
        </form>
        <h4 id="qualSuaMesa-heading4" style="color:#000000;font-weight:300;">Mesa:</h4>
        <form id="qualSuaMesa-form8" class="list">
            <label class="item item-input" id="qualSuaMesa-input9">
                <input type="text" placeholder="N° da mesa">
            </label>
        </form>
        <a ui-sref="escolhaAOpO" id="qualSuaMesa-button6" style="border-radius:10px 10px 10px 10px;" class="button button-balanced  button-block">Entrar</a>
    </ion-content>
</ion-view>